{% extends "base.html" %} {% load static %} {% block content %}

<section style="display: none" id="free_trial">
  <!-- "your free trail has ended" -->
  <div class="card">
    <div class="card-body">
      <div class="container mb-5 mt-3">
        <div class="row d-flex align-items-baseline">
          <div class="col-xl-9">
            <p style="color: #7e8d9f; font-size: 20px">
              Trial <strong>Free Trial</strong>
            </p>
          </div>
          <div class="col-xl-3 float-end">
            <a
              class="btn btn-light text-capitalize border-0"
              data-mdb-ripple-color="dark"
              ><i class="fas fa-print text-primary"></i> Print</a
            >
            <a
              class="btn btn-light text-capitalize"
              data-mdb-ripple-color="dark"
              ><i class="far fa-file-pdf text-danger"></i> Export</a
            >
          </div>
          <hr />
        </div>

        <div class="container">
          <div class="col-md-12">
            <div class="text-center">
              <i class="fab fa-mdb fa-4x ms-0" style="color: #5d9fc5"></i>
              <p class="pt-0">SAAS.com</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xl-8">
              <ul class="list-unstyled">
                <li class="text-muted">
                  To: <span style="color: #5d9fc5">John Lorem</span>
                </li>
                <li class="text-muted">Street, City</li>
                <li class="text-muted">State, Country</li>
                <li class="text-muted">
                  <i class="fas fa-phone"></i> 123-456-789
                </li>
              </ul>
            </div>
            <div class="col-xl-4">
              <p class="text-muted">Invoice</p>
              <ul class="list-unstyled">
                <li class="text-muted">
                  <i class="fas fa-circle" style="color: #84b0ca"></i>
                  <span class="fw-bold">User: </span>{{request.user.username}}
                </li>
                <li class="text-muted">
                  <i class="fas fa-circle" style="color: #84b0ca"></i>
                  <span class="fw-bold">Account Creation Date: </span>
                  {{request.user.date_joined}}
                </li>
                <li class="text-muted">
                  <i class="fas fa-circle" style="color: #84b0ca"></i>
                  <span class="me-1 fw-bold">Status:</span
                  ><span
                    style="background-color: #00ff48"
                    class="badge text-black fw-bold"
                  >
                    Free Trial</span
                  >
                </li>
              </ul>
            </div>
          </div>

          <div class="row my-2 mx-1 justify-content-center">
            <table class="table table-striped table-borderless">
              <thead style="background-color: #84b0ca" class="text-white">
                <tr>
                  <th scope="col">Description</th>
                  <th scope="col">Details</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Free trial finish date</td>
                  <td id="free_trial_end_date">4.4.2022</td>
                </tr>
                <tr>
                  <td>API requests this month</td>
                  <td id="api_request_count_free">1</td>
                </tr>
                <tr>
                  <td>Amount due</td>
                  <td id="amount_due_free">10$</td>
                </tr>
              </tbody>
            </table>
          </div>

          <hr />
          <div class="row">
            <div class="col-xl-10">
              <p>Thank you for your purchase</p>
            </div>
            <div class="col-xl-2">
              <a href="#!">
                <button
                  
                  type="button"
                  style="background-color: #00f7ff"
                  class="btn text-capitalize text-black subscribe" 
                >
                  Go Pro
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section style="display: none" id="is_member">
  <!-- next billing date -->
  <!-- API request this month -->
  <!-- Amount due -->

  <div class="card">
    <div class="card-body">
      <div class="container mb-5 mt-3">
        <div class="row d-flex align-items-baseline">
          <div class="col-xl-9">
            <p style="color: #7e8d9f; font-size: 20px">
              Trial <strong>Membership Trial</strong>
            </p>
          </div>
          <div class="col-xl-3 float-end">
            <a
              class="btn btn-light text-capitalize border-0"
              data-mdb-ripple-color="dark"
              ><i class="fas fa-print text-primary"></i> Print</a
            >
            <a
              class="btn btn-light text-capitalize"
              data-mdb-ripple-color="dark"
              ><i class="far fa-file-pdf text-danger"></i> Export</a
            >
          </div>
          <hr />
        </div>

        <div class="container">
          <div class="col-md-12">
            <div class="text-center">
              <i class="fab fa-mdb fa-4x ms-0" style="color: #5d9fc5"></i>
              <p class="pt-0">SAAS.com</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xl-8">
              <ul class="list-unstyled">
                <li class="text-muted">
                  To: <span style="color: #5d9fc5">John Lorem</span>
                </li>
                <li class="text-muted">Street, City</li>
                <li class="text-muted">State, Country</li>
                <li class="text-muted">
                  <i class="fas fa-phone"></i> 123-456-789
                </li>
              </ul>
            </div>
            <div class="col-xl-4">
              <p class="text-muted">Invoice</p>
              <ul class="list-unstyled">
                <li class="text-muted">
                  <i class="fas fa-circle" style="color: #84b0ca"></i>
                  <span class="fw-bold">User: </span>{{request.user.username}}
                </li>
                <li class="text-muted">
                  <i class="fas fa-circle" style="color: #84b0ca"></i>
                  <span class="fw-bold">Account Creation Date: </span>
                  {{request.user.date_joined}}
                </li>
                <li class="text-muted">
                  <i class="fas fa-circle" style="color: #84b0ca"></i>
                  <span class="me-1 fw-bold">Status:</span
                  ><span
                    style="background-color: #60bdf3"
                    class="badge text-black fw-bold"
                  >
                    Member</span
                  >
                </li>
              </ul>
            </div>
          </div>

          <div class="row my-2 mx-1 justify-content-center">
            <table class="table table-striped table-borderless">
              <thead style="background-color: #84b0ca" class="text-white">
                <tr>
                  <th scope="col">Description</th>
                  <th scope="col">Details</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Next billing date</td>
                  <td id="next_billing_date">4.4.2022</td>
                </tr>
                <tr>
                  <td>API requests this month</td>
                  <td id="api_request_count_member">1</td>
                </tr>
                <tr>
                  <td>Amount due</td>
                  <td id="amount_due_member">10$</td>
                </tr>
              </tbody>
            </table>
          </div>

          <hr />
          <div class="row">
            <div class="col-xl-10">
              <p>Thank you for your purchase</p>
            </div>
            <div class="col-xl-2">
              <button
                type="button"
                style="background-color: #6a6a6a"
                class="btn text-capitalize text-white"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                cancle subscription
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section style="display: none" id="not_member">

  <div class="card">
    <div class="card-body">
      <div class="container mb-5 mt-3">
        <div class="row d-flex align-items-baseline">
          <div class="col-xl-9">
            <p style="color: #7e8d9f; font-size: 20px">
              Trial <strong>Not-Member</strong>
            </p>
          </div>
          <div class="col-xl-3 float-end">
            <a
              class="btn btn-light text-capitalize border-0"
              data-mdb-ripple-color="dark"
              ><i class="fas fa-print text-primary"></i> Print</a
            >
            <a
              class="btn btn-light text-capitalize"
              data-mdb-ripple-color="dark"
              ><i class="far fa-file-pdf text-danger"></i> Export</a
            >
          </div>
          <hr />
        </div>

        <div class="container">
          <div class="col-md-12">
            <div class="text-center">
              <i class="fab fa-mdb fa-4x ms-0" style="color: #5d9fc5"></i>
              <p class="pt-0">SAAS.com</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xl-8">
              <ul class="list-unstyled">
                <li class="text-muted">
                  To: <span style="color: #5d9fc5">John Lorem</span>
                </li>
                <li class="text-muted">Street, City</li>
                <li class="text-muted">State, Country</li>
                <li class="text-muted">
                  <i class="fas fa-phone"></i> 123-456-789
                </li>
              </ul>
            </div>
            <div class="col-xl-4">
              <p class="text-muted">Invoice</p>
              <ul class="list-unstyled">
                <li class="text-muted">
                  <i class="fas fa-circle" style="color: #84b0ca"></i>
                  <span class="fw-bold">User: </span>{{request.user.username}}
                </li>
                <li class="text-muted">
                  <i class="fas fa-circle" style="color: #84b0ca"></i>
                  <span class="fw-bold">Account Creation Date: </span>
                  {{request.user.date_joined}}
                </li>
                <li class="text-muted">
                  <i class="fas fa-circle" style="color: #84b0ca"></i>
                  <span class="me-1 fw-bold">Status:</span
                  ><span
                    style="background-color: #ffa600"
                    class="badge text-black fw-bold"
                  >
                    Free Triall Expired</span
                  >
                </li>
              </ul>
            </div>
          </div>

          <div class="row my-2 mx-1 justify-content-center"></div>

          <hr />
          <div class="row">
            <div class="col-xl-10">
              <p>Go Pro :</p>
            </div>
            <div class="col-xl-2">
              <a href="#!">
                <button
                  
                  type="button"
                  class="btn text-capitalize text-white subscribe"
                  style="background-color: #009edd"
                >
                  Subscibe
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section style="display: none" id="fetch_error">

  <div class="card">
    <div class="card-body">
      <div class="container mb-5 mt-3">
        <div class="container">
          <div class="col-md-12">
            <div class="text-center">
              <i class="fab fa-mdb fa-4x ms-0" style="color: #5d9fc5"></i>
              <p class="pt-0">SAAS.com</p>
            </div>
          </div>

          <div class="row my-2 mx-1 justify-content-center">
            {% include "pages/opps.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="main-spinner" style="display: none">
<div class="spinner-bg">
  <div class="spinner-wrapper">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
</div>


{% endblock content %}

<!-- for canceling subscription -->
{% block modal %}

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure ?</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Are you sure you want to cacel you subscription ?
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-danger" id="cancel-subscription">
          Cancel Subscription
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal_sub"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Add your credit card number
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/pay-controller">
          <fieldset>
            <div class="field">
              <label>
                <input type="email" id="email" name="email" required />
              </label>
            </div>
            <div class="field">
              <label>
                <input
                  type="number"
                  id="price-gbp"
                  pattern="[1-9]\d*"
                  required
                />
              </label>
              <input type="hidden" id="price-pennies" name="amount" />
            </div>
          </fieldset>
          <fieldset>
            <div class="field">
              <label>
                <input
                  type="text"
                  id="card-number"
                  pattern="[0-9]{13,16}"
                  maxlength="16"
                  required
                />
              </label>
            </div>
            <div class="field">
              <label>
                <input
                  type="text"
                  id="cvc-number"
                  pattern="[0-9]{3,3}"
                  maxlength="3"
                  required
                />
              </label>
            </div>
            <div class="field">
              <label>
                <input
                  type="text"
                  id="exp-month"
                  pattern="0[1-9]|1[012]"
                  maxlength="2"
                  required
                />
              </label>
            </div>
            <div class="field">
              <label>
                <input
                  type="text"
                  id="exp-year"
                  pattern="[0-9]{4,4}"
                  maxlength="4"
                  required
                />
              </label>
            </div>
          </fieldset>
          <button type="submit" class="btnpay">Pay</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          cancel
        </button>
        <button type="button" class="btn btn-primary">Subscribe</button>
      </div>
    </div>
  </div>
</div>

{% endblock modal %} {% block inline_javascript %}
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'billing/js/billing.js' %}"></script>
{% endblock inline_javascript %}
