{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %} 
{%block content %}

<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card text-center" style="width: 400px">
      <div class="card-header h5 text-white bg-dark">Password Reset</div>
      <div class="card-body px-5">
        <p class="card-text py-2">
          write the current password and twice the new password
        </p>
        <label for="id_oldpassword" class="form-label requiredField">
          Current Password<span class="asteriskField">*</span>
        </label>
        <input
          type="password"
          name="oldpassword"
          placeholder="Current Password"
          autocomplete="current-password"
          class="passwordinput form-control"
          required=""
          id="id_oldpassword"
        />
      </div>
      <div id="div_id_password1" class="mb-3">
        <label for="id_password1" class="form-label requiredField">
          New Password<span class="asteriskField">*</span>
        </label>
        <input
          type="password"
          name="password1"
          placeholder="New Password"
          autocomplete="new-password"
          class="passwordinput form-control"
          required=""
          id="id_password1"
        />
      </div>
      <div id="div_id_password2" class="mb-3">
        <label for="id_password2" class="form-label requiredField">
          New Password (again)<span class="asteriskField">*</span>
        </label>
        <input
          type="password"
          name="password2"
          placeholder="New Password (again)"
          class="passwordinput form-control"
          required=""
          id="id_password2"
        />
      </div>
      <a id="btnReset" href="#" class="btn btn-dark w-100">Reset password</a>
      <div class="d-flex justify-content-between mt-4"></div>
    </div>
  </div>
</div>

{% endblock content %} 
{% block inline_javascript %}
<script src="{% static 'reset_password/js/reset_password.js' %}"></script>
{% endblock %}
