{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %} 

{% block addcss %}      
   <link  href="{% static 'reset_password/css/style.css' %}">
{% endblock addcss %}


{% block content %}

{% comment %} <div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card text-center" style="width: 400px">
      <div class="card-header h5 text-white bg-dark">Password Reset</div>
      <div class="card-body px-5">
        <p class="card-text py-2">
          write the current password and twice the new password
        </p>
        <label for="id_oldpassword">
          Current Password<span class="asteriskField">*</span>
        </label>
        <input
          type="password"
          name="oldpassword"
          placeholder="Current Password"
          autocomplete="current-password"
          required
          id="id_oldpassword"
        />
      </div>
      <div id="div_id_password1" class="mb-3">
        <label for="id_password1">
          New Password<span class="asteriskField">*</span>
        </label>
        <input
          type="password"
          name="password1"
          placeholder="New Password"
          autocomplete="new-password"
          class="passwordinput form-control"
          required
          id="id_password1"
        />
      </div>
      <div id="div_id_password2" class="mb-3">
        <label for="id_password2">
          New Password (again)<span class="asteriskField">*</span>
        </label>
        <input
          type="password"
          name="password2"
          placeholder="New Password (again)"
          class="passwordinput form-control"
          required
          id="id_password2"
        />
      </div>
      <a id="btnReset" href="#" class="btn btn-dark w-100">Reset password</a>
      <div class="d-flex justify-content-between mt-4"></div>
    </div>
  </div>
</div> {% endcomment %}

<div class="main-spinner" style="display: none">
<div class="spinner-bg">
  <div class="spinner-wrapper">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
</div>




<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">RESER Password</h2>
              <p class="text-white-50 mb-5">write the current password and the new password twice</p>

            
              <div class="form-outline form-white mb-4">
               <label for="id_oldpassword">Current Password<span class="asteriskField">*</span>
                </label>
                <input
                 class="form-control form-control-md"
                  type="password"
                  name="oldpassword"
                  placeholder="Current Password"
                  autocomplete="current-password"
                  required
                  id="id_oldpassword"
                />

              </div>

              <div class="form-outline form-white mb-4">
                 <label for="id_password1">
                  New Password<span class="asteriskField">*</span>
                  </label>
                  <input
                    class="form-control form-control-md"
                    type="password"
                    name="password1"
                    placeholder="New Password"
                    autocomplete="new-password"
                    class="passwordinput form-control"
                    required
                    id="id_password1"
                  />
              </div>
              <div class="form-outline form-white mb-4">
                  <label for="id_password2">
                    New Password (again)<span class="asteriskField">*</span>
                    </label>
                    <input
                     class="form-control form-control-md"
                      type="password"
                      name="password2"
                      placeholder="New Password (again)"
                      class="passwordinput form-control"
                      required
                      id="id_password2"/>
              </div>

              <button id="btnReset" class="btn btn-outline-light btn-lg px-5" type="submit">Reset</button>

              <div class="d-flex justify-content-center text-center mt-4 pt-1">
                <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %} 
{% block inline_javascript %}
<script src="{% static 'reset_password/js/reset_password.js' %}"></script>
{% endblock %}



{% comment %} <div class="col-md-6 offset-md-3">
    
    <h1>Change Password</h1>

    <form method="POST" action="/accounts/password/change/" class="password_change">
        <input type="hidden" name="csrfmiddlewaretoken" value="KruiEKe9pmXOKtcpyVYimPKZOQwVcWq6CobA7MYj3hTNAePw2OC3XHyEGW4CQRjn">
        

<div id="div_id_oldpassword" class="mb-3"> <label for="id_oldpassword" class="form-label requiredField">
                Current Password<span class="asteriskField">*</span> </label> <input type="password" name="oldpassword" placeholder="Current Password" autocomplete="current-password" class="passwordinput form-control" required="" id="id_oldpassword" fdprocessedid="80wk2h"> </div> <div id="div_id_password1" class="mb-3"> <label for="id_password1" class="form-label requiredField">
                New Password<span class="asteriskField">*</span> </label> <input type="password" name="password1" placeholder="New Password" autocomplete="new-password" class="passwordinput form-control" required="" id="id_password1" fdprocessedid="v8ko6m"> </div> <div id="div_id_password2" class="mb-3"> <label for="id_password2" class="form-label requiredField">
                New Password (again)<span class="asteriskField">*</span> </label> <input type="password" name="password2" placeholder="New Password (again)" class="passwordinput form-control" required="" id="id_password2" fdprocessedid="269x8l"> </div>

        <button class="btn btn-primary" type="submit" name="action" fdprocessedid="l2pha">Change Password</button>
    </form>

  </div> {% endcomment %}
